a:active, a:focus, a:hover {
  color: #519CD7;
}
#main-menu-left a.room-active-link {
  color: #519CD7;
}
#header-global .header-left-navigation a.room-active-link.active-room .icon-chevron {
  color: #519CD7;
}
#player-controller .left ul li.infoContainer .infoContainerInner .progressBg {
  background: #519CD7;
}
#player-controller .right ul li .dubup.voted {
  background: #519CD7;
}
